---
import { Image } from 'astro:assets';
import localBlobImage from '../assets/blob.svg';
import Layout from '../layouts/Layout.astro';
---

<Layout titlePage="About">
  <section>
    <div class="container-image-header">
      <Image src={localBlobImage} alt="Texto descriptivo" width={120} />
      <h1>Nunca te compares con otros, porque cada background es diferente. Compárate con la persona que fuiste hace 3 meses.</h1>
    </div>
    <div class="container-info">
      <div class="container-image"></div>
      <h2>Carlos Sánchez</h2>
      <p>Como desarrollador, tengo esta peculiar costumbre de crear mis propias herramientas: mi alarma personalizada, mi aplicación de seguimiento del clima, etc. Durante el proceso de desarrollo de un proyecto reciente, me di cuenta de que a menudo olvidaba guardar recursos que encontraba en la web o que mi lista de favoritos se había vuelto interminable.
      </p>
      <p>Para solucionar este problema, decidí crear un nuevo mini proyecto: un sitio web donde puedo almacenar y gestionar todas estas herramientas y recursos útiles que me han ayudado en mis proyectos. La gran noticia es que esta web también está disponible para otros desarrolladores, lo que significa que puede ser de utilidad para tu trabajo también. ¡Espero que encuentres esta herramienta útil! 👽</p>
      <small class="title-tech">Tecnologías</small>
      <div class="container-tech">
        <Image src="https://svgl.vercel.app/library/astro.svg" alt="Texto descriptivo" width={18} height={24}/>
        <Image src="https://www.svgrepo.com/show/373705/js-official.svg" alt="Texto descriptivo" width={24} height={24}/>
        <Image src="https://svgl.vercel.app/library/css.svg" alt="Texto descriptivo" width={24} height={24}/>
        <Image src="https://svgl.vercel.app/library/html5.svg" alt="Texto descriptivo" width={24} height={24}/>
      </div>
    </div>
  </section>
</Layout>
<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .container-image-header {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1,
  h2 {
    text-wrap: balance;
    margin: 15px 0 0 0;
  }
  .square {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
  }
  p {
    margin: 15px auto 0;
    width: 80%;
  }
  .container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    background-color: rgb(227, 235, 235);
    text-align: left;
  }
  .container-info > p {
    font-size: 14px;
  }
  .container-image {
    background-image: url('https://images.unsplash.com/photo-1552875101-979d61f26eb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  .container-tech{
    width: 80%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .title-tech{
    margin: 15px 0;
  }
  @media screen and (max-width: 420px){
    .container-info{
      text-wrap: balance;
    }
  }
</style>
