---
import { Image } from 'astro:assets';
import localBlobImage from '../assets/blob.svg';
import ListResources from '../components/ListResources.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout titlePage="Atlas 420">
  <section>
    <div class="container-web-info">
      <h2 class="web-info-title"> ¿Quieres conocer las herramientas y recursos más efectivos en el desarrollo web?</h2>
      <p class="web-info-description">
        Este sitio web se dedica a proporcionar una cuidadosa selección de herramientas que son esenciales para cualquier desarrollador en busca de un camino más eficiente hacia el éxito en sus proyectos
      </p>
    </div>
    <Image src={localBlobImage} alt="Texto descriptivo" width={250} />
  </section>
  <ListResources />
</Layout>

<style>
  section {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .web-info-title {
    margin-bottom: 15px;
    max-width: 40ch;
  }
  .web-info-description {
    max-width: 70ch;
  }
  @media screen and (max-width: 650px) {
    section {
      height: auto;
      text-align: center;
      flex-direction: column;
      gap: 25px;
    }
    .container-resources {
      height: auto;
    }
  }
</style>
