<footer>
  <ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Github</a></li>
  </ul>
</footer>
<style>
  footer{
    margin: 35px 0 0 0;
    height: 100px
  }
  footer > ul{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px
  }
  a{
    color: #000;
  }
</style>