<header class="header">
  <!-- * se seguira modificando mientras haya mas paginas -->
  <nav class="header-nav">
    <a href="/" class="header-nav-title header-nav-link">
      <span class="pink">&#60;</span> Atlas420 <span class="pink">&#47;&#62;</span>
    </a>
    <a href="/about" class="header-nav-link">About</a>
  </nav>
</header>

<style>
  .header {
    width: 100%;
    heigth: 80px;
  }
  .header-nav {
    margin: 0 auto;
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-title {
    font-size: 24px;
  }
  .pink {
    color: #db82a3;
    filter: drop-shadow(0px 0px 10px #db82a3);
  }
  .header-nav-link{
    font-weight: bold;
    text-decoration: none;
    color: #261c36;
    transition: all 0.3s ease;
  }
  .header-nav-link:hover {
    filter: drop-shadow(0px 0px 10px #db82a3);
    color: #db82a3;
  }
</style>
