---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../css/global.css'

interface Props {
  titlePage: string  
}
const { titlePage } = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/alien.png" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
		<title>{titlePage}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
    <main>
      <slot />
    </main>
    <Footer />
		<script src="../js/index.js"></script>
	</body>
	</html>
